<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:name= ".ScoddApplication"
        android:icon="@drawable/rooster"
        android:label="@string/app_name"
        android:roundIcon="@drawable/rooster"
        android:supportsRtl="true"
        android:theme="@style/Theme.Scodd"
        tools:targetApi="33">
        <activity
            android:name=".ScoddActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Scodd">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>